<div class="container border-blue">
  <div class="invest invest-i">I</div>
  <div class="invest invest-n">N</div>
  <div class="invest invest-v">V</div>
  <div class="invest invest-e">E</div>
  <div class="invest invest-s">S</div>
  <div class="invest invest-t">T</div>

  <div class="work_item_id">{{number}}</div>
  <div class="state">{{state}} {{sprint}}</div>

  <div class="box">
    <svg width="0.75in" height="0.75in">
      <rect width="0.75in" height="0.75in" style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(0,0,0)" />
    </svg>
  </div>

  <h1>{{title}}</h1>

  <div class="description">
    <h2>Description:</h2>
    {{{description}}}
    <hr />
    <h2>Acceptance Criteria:</h2>
    {{{acceptance_criteria}}}
  </div>
</div>
